@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02191d;
    --foreground: #fafafa;
    --primary: #24a0b5;
    --secondary: #0e464f;
    --secondary_light: #197686;
    --header: #05252c;
    --ticket_box_background: #08252b;
    --ticket_box: #041e23;
    --ticket_box_border: #07373f;
    --ticket_select_box: #05222b;
    --ticket_book_bg: #08343c;
    --ticket_book_outline: #133d44;
    --access_hovered_bg: #2c545b;
    --access_selected_bg: #12464e;
    --ticket_menu_border: #d5ea00;

    --gray: #0a0c11;
    --gray-light: #b3b3b3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.input-group {
  @apply flex flex-col gap-2;
}

input {
  @apply w-full p-3 border border-ticket_box_border rounded-xl bg-transparent outline-none;
}

.bg-gradient {
  background: radial-gradient(
      103.64% 57.39% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    )
    rgba(10, 12, 17, 0.1);
  backdrop-filter: blur(7px);
}

.btn_hover {
  @apply hover:bg-access_bg_hovered hover:border-secondary_light focus:bg-access_bg_selected focus:border-secondary_light;
}

#ticket-content {
  margin: 0 auto !important;
  box-sizing: border-box !important;
}
